@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
.sidebar-icon-menu{
    z-index: 999;
    position: fixed;
    left: 0;
    line-height: 45px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #014c8f;
    background: #fff;
    padding: 0 15px 0 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
